<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" href="#">HabboDev</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ urlFor('home') }}">{{ lang.home }}</a> </li>
                <li><a href="{{ urlFor('user.all') }}">{{ lang.all_users }}</a> </li>
                <li>
                    <form action="" method="get" class="navbar-form navbar-right form-inline" role="search"
                          autocomplete="off">
                        <div class="form-group">
                            <input type="hidden" name="type" id="type" value="projects">
                            <input type="text" class="form-control" id="search-project" name="search-project"
                                   placeholder="Search"/>
                            <span class="fa fa-search"></span>
                        </div>
                    </form>
                </li>
                <li><a href="#">{{ lang.projects }}</a> </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if auth %}
                <li class="dropdown">

                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"> {{ lang.account }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ urlFor('settings') }}"><i class="fa fa-cog fa-fw"></i> {{ lang.settings }}</a>
                        </li>
                        <li><a href="{{ urlFor('user.profile', {username: auth.username}) }}"><i
                                        class="fa fa-user fa-fw"></i>  {{ lang.your_profile }}</a></li>
                        <li><a href="{{ urlFor('password.change') }}"><i
                                        class="fa fa-pencil fa-fw"></i>{{ lang.change_password }}</a></li>
                        {% if auth.isAdmin %}
                        <li><a href="{{ urlFor('admin.example') }}">{{ lang.admin_area }}</a> </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{{ urlFor('logout') }}"><i class="fa fa-sign-out fa-fw"></i> {{ lang.logout }}</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li> <a href="{{ urlFor('register') }}">{{ lang.register }}</a> </li>
                <li> <a href="{{ urlFor('login') }}">{{ lang.login }}</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>