{% extends '/templates/single-form.twig' %}
{% block content %}
    <div class="container">
        <div class="container form-group table">
            <form class="formbox" action="{{ urlFor('login') }}" method="post" autocomplete="off">
                <p id="form-header">{{ lang.login }}</p>
                {% if errors %}
                    <div class="alert alert-danger fade in" role="alert">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        {{ errors.first }}
                    </div>
                {% endif %}
                <!-- Fake inputs for chrome-auto fill, this messes with textbox styles-->
                <input style="display:none" type="text" name="fakeusernameremembered"/>
                <input style="display:none" type="password" name="fakepasswordremembered"/>

                <div class="form-group {% if errors.has('identifier') %} has has-error{% endif %}">
                    <input type="text" class="form-control" placeholder="{{ lang.email }}/{{ lang.username }}"
                           name="identifier" {% if request.post('identifier') %}
                           value="{{ request.post('identifier') }}" {% endif %}id="identifier">
                </div>

                <div class="form-group {% if errors.has('password') %} has has-error{% endif %}">
                    <input type="password" class="form-control" placeholder="{{ lang.password }}" name="password"
                           id="password">
                </div>

                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember-me" name="remember_me"> {{ lang.remember_me }}
                    </label>
                    <a href="#">Forgot Your Password</a>
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary form-control btn-form text-center">{{ lang.login }}</button>

                </div>

                <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">

                <div class="container terms">
                    <p id="p-terms"><a href="{{ urlFor('register') }}"> Need an account?</a>
                    </p>

                    <p id="p-back"><a href="{{ urlFor('home') }}">Go back to Home</a></p>
                </div>
            </form>
        </div>

    </div>
{% endblock %}