{% extends '/templates/single-form.twig' %}
{% block content %}
    <div class="container">
        <div class="container form-group table">
            <form class="formbox" action="{{ urlFor('login') }}" method="post">
                <p id="form-header">{{ lang.login }}</p>
                {% if errors %}
                    <div class="alert alert-danger fade in" role="alert">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        {{ errors.first }}
                    </div>
                {% endif %}

                <div class="form-group {% if errors.has('identifier') %} has has-error{% endif %}">
                    <input type="text" class="form-control" placeholder="{{ lang.email }}/{{ lang.username }}"
                           name="identifier" {% if request.post('identifier') %}
                           value="{{ request.post('identifier') }}" {% endif %}id="identifier">
                </div>

                <div class="form-group {% if errors.has('password') %} has has-error{% endif %}">
                    <input type="password" class="form-control" placeholder="{{ lang.password }}" name="password"
                           id="password">
                </div>

                <div class="checkbox">
                    <label id="remember_me">
                        <input type="checkbox" name="remember_me">Remember Me
                    </label>
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary form-control btn-form text-center">{{ lang.login }}</button>

                </div>

                <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">

            </form>
        </div>
        <div class="container terms">
            <p id="p-terms"><a href="{{ urlFor('register') }}"> Need an account?</a>
            </p>

            <p id="p-back"><a href="{{ urlFor('home') }}">Go back to Home</a></p>
        </div>
    </div>
{% endblock %}