{% extends 'templates/default.twig' %}

{% block title %}{{ lang.register }}{% endblock %}

{% block content %}
    <form class="form" action="{{ urlFor('register.post') }}" method="POST" autocomplete="off">
        <h2>{{ lang.register }}</h2>

        <div class="form-group {%  if errors.has('email')  %} has has-error{%  endif  %}">
            <input  type="email" class="form-control" name="email" placeholder="{{ lang.email }}" id="email" {% if request.post('email') %}value="{{ request.post('email') }}" {% endif %}>
            {% if errors.has('email') %}{{ errors.first('email')}} {% endif %}
        </div>

        <div class="form-group {%  if errors.has('username')  %} has has-error{%  endif  %}">
            <input type="text" class="form-control" name="username" placeholder="{{ lang.username }}" id="username" {% if request.post('username') %}value="{{ request.post('username') }}" {% endif %} >
            {% if errors.has('username') %}{{ errors.first('username')}} {% endif %}
        </div>

        <div class="form-group {%  if errors.has('password')  %} has has-error{%  endif  %}">
            <input type="password" class="form-control" name="password" placeholder="{{ lang.password }}" id="password">
            {% if errors.has('password') %}{{ errors.first('password')}} {% endif %}
        </div>

        <div class="form-group {%  if errors.has('password_confirm')  %} has has-error{%  endif  %}">
            <input type="password" class="form-control" name="password_confirm" placeholder="{{ lang.password_confirm }}" id="password_confirm">
            {% if errors.has('password_confirm') %}{{ errors.first('password_confirm')}} {% endif %}
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">{{ lang.register }}</button>

        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">

    </form>
{% endblock %}