{% extends '/templates/single-form.twig' %}
{% block title %}{{ lang.register }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="container form-group table">
            <form class="formbox" action="{{ urlFor('register') }}" method="post">
                <p id="form-header">{{ lang.register }}</p>
                {% if errors %}
                    <div class="alert alert-danger fade in" role="alert">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        {{ errors.first }}
                    </div>
                {% endif %}
                <div class="form-group {% if errors.has('email') %} has has-error{% endif %}">
                    <input type="email" class="form-control check-exists" name="email"
                           placeholder="{{ lang.email }}" id="email"
                           {% if request.post('email') %}value="{{ request.post('email') }}" {% endif %}>
                </div>

                <div class="form-group {% if errors.has('username') %} has has-error{% endif %}">
                    <input type="text" class="form-control check-exists" name="username"
                           placeholder="{{ lang.username }}" id="username"
                           {% if request.post('username') %}value="{{ request.post('username') }}" {% endif %} >
                    <span class="check-exists-feedback" data-type="username"></span>
                </div>

                <div class="form-group {% if errors.has('password') %} has has-error{% endif %}">
                    <input type="password" class="form-control" name="password" placeholder="{{ lang.password }}"
                           id="password">
                </div>

                <div class="form-group {% if errors.has('password_confirm') %} has has-error{% endif %}">
                    <input type="password" class="form-control" name="password_confirm"
                           placeholder="{{ lang.password_confirm }}" id="password_confirm">
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
                </div>

                <button type="submit"
                        class="btn btn-primary form-control btn-form text-center">{{ lang.register }}</button>

                <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
            </form>

            <div class="container terms">
                <p id="p-terms"><a href="{{ urlFor('login') }}"> Already have an account?</a>
                </p>

                <p id="p-back"><a href="{{ urlFor('home') }}">Go back to Home</a></p>
            </div>
        </div>
    </div>
{% endblock %}