{% extends 'templates/default.twig' %}

{% block title %}{{ lang.users }}{% endblock %}

{% block content %}
    <h2>{{ lang.users }}</h2>
    {% if users is empty %}
        <p>No registered users.</p>
    {% else %}
        {% for user in users %}
            <div class="user">
                <a href="{{ urlFor('user.profile', {username: user.username}) }}">{{ user.username }}</a>
                {% if user.isAdmin %}
                    ({{ lang.admin }})
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}